html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.dark {
    color: #DADADA;
    background: #1c2022;
    min-height: 100%;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.header-lg {
    font-size: 35px;
    font-weight: 300;
    margin: 20px;
}

.header-sm {
    font-size: 25px;
    font-weight: 300;
    margin: 20px;
}

.center-text {
    text-align: center;
}

.space-around {
    justify-content: space-around;
}

.link {
    color: rgb(187, 46, 31);
    text-decoration: none;
    font-weight: bold;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.nav li {
    margin-right: 10px;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.btn {
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    max-width: 200px;
}

.btn-center {
    margin: 0 auto;
}

.dark-btn {
    color: #e6e6e6;
    background: #4d4d4d;
}

.dark-btn:disabled {
    background: #f2f2f2;
    color: #c7c7c7;
}

.btn-clear {
    border: none;
    background: transparent;
}

.btn-space {
    margin: 40px auto;
}

.light-btn {
    color: #4d4d4d;
    background: #aaa8a8;
}

.light-btn:disabled {
    background: #292929;
    color: #4a4a4a;
}

.bg-light {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.bg-dark {
    background: rgb(36, 40, 42);
    border-radius: 3px;
}

.card-list {
    margin: 20px 0px;
    font-size: 20px;
}

.card-list li {
    display: flex;
    align-items: center;
    margin: 10px;
}

.card-list svg {
    margin-right: 10px;
}

.card-list a {
    font-weight: 500;
    color: inherit;
}

.medium-text {
    font-size: 20px
}

.card {
    margin: 10px 0;
    width: 300px;
    padding: 20px;
    transition: 0.4s ease-out;
}

.card a {
    text-decoration: none;
}

.card img {
    margin-bottom: 8px;
}

.movie-poster {
    width: 225px;
    height: 333px;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

.no-bullets {
    list-style: none
}

.error {
    color: #ff1616;
    font-size: 20px;
    margin: 50px 0;
}

.star-rating {
    padding: 0px;
}

.vsci-mega {
    stroke-width: 1;
}

.warning {
    font-weight: bold;
    font-size: 22;
}

.bold {
    font-weight: bold;
}

.searchbox {
    display: block;

    padding: 15px;

    background-color: #EEE;
    border-radius: 8px;

    color: #53565A;
    font-size: 20px;
    font-weight: 300;

    transition: 0.4s ease-out;
}

.searchbox:focus {
    box-shadow: 0px 0px 8px 3px #4484C4;
}

.collection {
    display: flex;
    flex-wrap: wrap;
}

.card:hover {
    background: #8d8d8d;
    color: #223343;
}

.top5 {
    margin-top: 5px;
}

.option {
    
    transition: 0.4s ease-out;
}

.option:hover {
    background: #67b3ff;
    cursor: pointer;
}

.option-container {

}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4a4a4a;

    overflow-y: scroll;
}

.popup .content {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 25px;

    color: #FFF;
}

.popup .content h2 {
    font-size: 28px;
    font-weight: 600;
}

.popup .content h2 span {
    font-weight: 300;
    font-size: 20px;
}

.popup .content .close {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;

    background: #4484C4;
    color: #FFF;
    border-radius: 8px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;

    transition: 0.4s ease-out;
}

.popup .content .close:hover {
    background: #53565A;
}