<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
    <title>Reset Your Password</title>
</head>

<body>
    <div class="container d-flex justify-content-center text-center vh-100">
        <div class="d-flex align-items-start my-auto" style="height: 350px; max-width: 450px">
            <div class="row">
                <div th:if="${param.reset}">
                    <p class="app-success fw-bold pb-1" th:utext="#{message.resetPasswordEmailSent}">reset message</p>
                </div>
                <h3 class="app-red fw-bold">Reset Your Password</h3>
                <div class="reset-input">
                    <form class="row justify-content-sm-center mx-5 pt-2" action="#">
                        <!-- Any way to center placeholder text only when small in bootstrap? -->
                        <input class="col-sm-8" placeholder="Enter email" id="email" name="email" type="email" value=""
                            required="required" />
                        <button class="col-sm-4 btn btn-dark" type="submit">Submit</button>
                    </form>
                    <p class="pt-3">Not registered? Sign up <a class="link-dark" th:href="@{/register}">here</a>.</p>
                    <p>Back to <a class="link-dark" th:href="@{/login}">login</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:inline="javascript">
        var serverContext = [[@{/}]];

        $(document).ready(function () {
            $('form').submit(function (event) {
                resetPass(event);
            });
            console.log(serverContext + "forgot-password/reset");
        });


        function resetPass(event) {
            event.preventDefault();
            const email = $("#email").val();
            // $.post(serverContext + "user/reset-password", { email: email }, function (data) {
            //     window.location.href = serverContext + "login?message=" + data.message;
            // })
            //     .fail(function (data) {
            //         if (data.responseJSON.error.indexOf("MailError") > -1) {
            //             window.location.href = serverContext + "emailError.html";
            //         }
            //         else {
            //             window.location.href = serverContext + "login?message=" + data.responseJSON.message;
            //         }
            //     });

            const api = (`forgot-password/reset?email=${email}`)
            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    email: email
                }),
                credentials: 'include'
            }
            return (
                fetch(api, requestOptions)
                    .then((response) => window.location.href = 'forgot-password?reset=true')
                    .catch((e) => {
                        console.warn(e.message)
                        throw e
                    })
            )
        }

        $(document).ajaxStart(function () {
            $("title").html("LOADING ...");
        });
    </script>
</body>

</html>