<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - Movie Collection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container d-flex justify-content-center h-100">
        <div class="d-flex align-items-center text-center" style="height: 768px">
            <form class="col-12" th:action="@{/login}" method="post">
                <div style="width: 350px">
                    <div th:if="${param.tokenError}" class="app-red" th:utext="#{${param.tokenError}}">
                        <p class="app-red">token error message</p>
                    </div>
                    <div th:if="${param.error}">
                        <p class="app-red">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                    </div>
                    <div th:if="${param.logout}">
                        <p class="text-success fw-bold pb-1" th:utext="#{login.message.logoutSuccess}">logout message
                        </p>
                    </div>
                    <div th:if="${param.resetSuccessful}">
                        <p class="text-success" th:utext="#{login.message.resetPasswordSuccess}">successful reset
                            message</p>
                    </div>
                    <h3 span class="app-red fw-bold">Sign in</h3>
                    <p>to view your collection!</p>
                    <input type="email" name="username" class="form-control" placeholder="Email" required autofocus />
                    <!-- Not functioning right now. Need to custom auth to allow failure redirect -->
                    <div th:if="${param.incorrectPassword}" class="app-red" th:utext="#{${param.incorrectPassword}}">
                        <p>Wrong username and/or password. Please try again.</p>
                        <p>Forgot password? Click <a href="@{/forgot-password}" class="link-dark">here</a>.</p>
                    </div>

                    </p>
                    <div class="input-group">
                        <input type="password" id="password" name="password" class="form-control"
                            autocomplete="current-password" placeholder="Password" spellcheck="false"
                            autocorrect="false" autocapitalize="false" required />
                        <button id="toggle-password" type="button" class="d-none"
                            aria-label="Show password as plain text. Warning: this will display your password on the screen.">
                        </button>
                    </div>
                    <div class="p-1">
                        <input type="checkbox" name="remember-me" />&nbsp;Remember Me
                    </div>
                    <div class="p-1">
                        <input type="submit" value="Login" class="btn btn-dark" />
                    </div>
                    <div class="p-1">
                        <span>Forgot password? Reset <a th:href="@{/forgot-password}" class="link-dark">here</a>.</span>
                    </div>
                    <span>No account? Register <a href="/" th:href="@{/register}" class="link-dark">here</a>.</span>
                </div>
            </form>
        </div>
    </div>
</body>

<script th:inline="javascript">
    document.querySelector("[type='password']").classList.add("input-password");
    document.getElementById("toggle-password").classList.remove("d-none");
    const passwordInput = document.querySelector("[type='password']");
    const togglePasswordButton = document.getElementById("toggle-password");
    togglePasswordButton.addEventListener("click", togglePassword);
    function togglePassword() {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePasswordButton.setAttribute("aria-label", "Hide password.");
        } else {
            passwordInput.type = "password";
            togglePasswordButton.setAttribute(
                "aria-label",
                "Show password as plain text. " +
                "Warning: this will display your password on the screen."
            );
        }
    }
</script>

</html>