/*
    Currently not being recognized... not sure how to get it there
*/
.danger-red {
    color: rgb(187, 46, 31)
}

.form-control:focus {
    border-color: rgb(0, 0, 0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 0, 0, 0.5);
}

@media(min-width: 768px) {
    .reset-input {
        width:50%;
    }
}