<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - Movie Collection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container d-flex justify-content-center h-100">
        <div class="d-flex align-items-center text-center" style="height: 768px">
            <div style="width: 350px">
                <h3 class="app-red fw-bold pb-3">Fill out the form below to reset your password</h3>
                <form>
                    <div class="form-floating">
                        <input class="form-control" id="password" name="newPassword" type="password"
                            placeholder="New Password" />
                        <label for="password">New Password</label>
                    </div>
                    <div class="form-floating pt-2">
                        <input class="form-control" id="matchingPassword" type="password"
                            placeholder="Confirm New Password" />
                        <label for="matchingPassword">Confirm New Password</label>
                    </div>
                    <div id="globalError" class="app-red" style="display:none" th:text="#{user.passwordsNotMatch}">error
                    </div>
                    <div class="pt-3">
                        <button type="submit" class="btn btn-dark" onclick="savePass(event)">Save Changes</button>
                    </div>
                    <div class="pt-3">
                        <span>Back to <a href="/" th:href="@{/login}" class="link-dark">login</a>.</span>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:inline="javascript">
    const serverContext = [[@{/}]];
    $(document).ready(function () {
        $('form').submit(function (event) {
            savePass(event);
        });

        $(":password").keyup(function () {
            if ($("#password").val() != $("#matchingPassword").val()) {
                $("#globalError").show().html(/*[[#{user.passwordsNotMatch}]]*/);
            } else {
                $("#globalError").html("").hide();
            }
        });
    });

    function savePass(event) {
        event.preventDefault()
        let params = (new URL(document.location)).searchParams
        let token = params.get("token")
        let password = $("#password").val()
        const api = ("update-password")
        const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                oldPassword: "",
                token: token,
                newPassword: password
            }),
            credentials: 'include'
        }
        return (
            fetch(api, requestOptions)
                .then((response) => window.location.href = 'login?resetSuccessful=true')
                .catch((e) => {
                    console.warn(e.message)

                    var errors = $.parseJSON(data.responseJSON.message);
                    $.each(errors, function (index, item) {
                        $("#globalError").show().html(item.defaultMessage);
                    });
                    errors = $.parseJSON(data.responseJSON.error);
                    $.each(errors, function (index, item) {
                        $("#globalError").show().append(item.defaultMessage + "<br/>");
                    });

                    // throw e
                })
        )

        // if ($("#password").val() != $("#matchingPassword").val()) {
        //     $("#globalError").show().html(/*[[#{user.passwordsNotMatch}]]*/);
        //     return;
        // }
        // const formData = $('form').serialize();
        // $.post(serverContext + "api/v1/user/savePassword", formData, function (data) {
        //     window.location.href = serverContext + "login?message=" + data.message;
        // })
        //     .fail(function (data) {
        //         if (data.responseJSON.error.indexOf("InternalError") > -1) {
        //             window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        //         }
        //         else {
        //             var errors = $.parseJSON(data.responseJSON.message);
        //             $.each(errors, function (index, item) {
        //                 $("#globalError").show().html(item.defaultMessage);
        //             });
        //             errors = $.parseJSON(data.responseJSON.error);
        //             $.each(errors, function (index, item) {
        //                 $("#globalError").show().append(item.defaultMessage + "<br/>");
        //             });
        //         }
        //     });
    }
</script>

</html>